@* BONUS MISSION 3- DISPLAYING DETAILS OF USER *@
<br/>
<h1 style="font-family:'Times New Roman', Times, serif"> User Details</h1>
<br />
<table>
    <tr>
        <td style="font-weight:bold">Username : </td>
        <td>@ViewBag.user.Username</td>
    </tr>
    <tr>
        <td style="font-weight:bold">Email ID : </td>
        <td>@ViewBag.user.Email </td>
    </tr>
    <tr>
        <td style="font-weight:bold">Created on : </td>
        <td>@ViewBag.user.UserDate </td>
    </tr>
</table>