
@{

}
<p>
    <b style="font-family:'Book Antiqua'; font-size:x-large">My Cheese</b> &nbsp;&nbsp;
    <a asp-controller="cheese" asp-action="Add">Add Cheese</a> &nbsp;&nbsp;
    <a asp-controller="cheese" asp-action="Remove">Remove Cheese</a>
</p>

@if (ViewBag.listCheeses.Count == 0)
{
    <p> No Cheeses Yet!</p>
}
else
{
    <br />
    <p style="font-family:'Arial' ; font-weight:bold"> &emsp; Cheese  &emsp;  &emsp; &emsp; &nbsp; Description </p>
    <hr />
}

<ul>
    @foreach (Cheese c1 in ViewBag.listcheeses)
    {
    <li> @c1.Name &emsp;  &emsp;@c1.Description &emsp; <a asp-controller="Cheese" asp-action="Edit" asp-route-cheeseId="@c1.CheeseID"> Edit </a></li>
        
    }
</ul>

