@{
    ViewData["Title"] = "CreateMessage";
}

<!--<h1>CreateMessage</h1>-->
<div>
    <form method="post" action="/home/Greet">
        <input type="text" name="fname" style="font-weight:bold" />
        <select name="language" style="font-weight:bold">
            <option value=""></option>
            <option value="english"> English</option>
            <option value="hindi"> Hindi</option>
            <option value="french"> French</option>
            <option value="spanish"> Spanish</option>
            <option value="german"> German</option>
        </select>
        <button style="font-weight:bold">
            Greet me!
        </button>
    </form>

</div>
