@model UserSignup.Models.User
<h1 style="font-family:'Times New Roman', Times, serif"> User Details</h1>
<br />
<table>
        <tr>
            <td style="font-weight:bold">Username : </td>
            <td>@Model.Username</td>
        </tr>
        <tr>
            <td style="font-weight:bold">Email ID : </td>
            <td>@Model.Email </td>
        </tr>
        <tr>
            <td style="font-weight:bold">Created on : </td>
            <td>@Model.UserDate </td>
        </tr>
    </table>

