
@{

}

<h1 style="font-family:'Book Antiqua'">My Cheese</h1>
<p>
    <a asp-controller="cheese" asp-action="Add">Add Cheese</a> &nbsp;
    <a asp-controller="cheese" asp-action="Remove">Remove Cheese</a>
</p>

@if (ViewBag.cheeses.Count == 0)
{
    <p> No Cheeses Yet!</p>
}
@*Using Approach 1- using dictionary*@
<ul>
    @foreach (KeyValuePair<string, string> cheeses in ViewBag.cheeses)
    {
        <li><b>Cheese:</b> @cheeses.Key &nbsp;&nbsp;    <b>Description:</b> @cheeses.Value </li>
    }
</ul>
@*Using Approach 2- using List of Cheese Object
<ul>
    @foreach (Cheese c1 in ViewBag.listcheeses)
    {
        <li><b>Cheese:</b> @c1.Name &nbsp;&nbsp;    <b>Description:</b> @c1.Description </li>
    }
</ul>*@