
@{
}

    <form method="post" action="/cheese/removeButton">


        @foreach (KeyValuePair<string, string> cheeses in ViewBag.cheeses)
        {
            <input name="removeCheese" type="checkbox" value="@cheeses.Key" /> @cheeses.Key
            <br />
        }
        <br />
        @if (ViewBag.cheeses.Count == 0)
        {
            <p> No Cheeses Yet!</p>
            <input type="submit" value="Remove Cheese" disabled/>

        }
        @if (ViewBag.cheeses.Count != 0)
        {
        <input type="submit" value="Remove Cheese" />
        }
    </form>
        
    